.content-container {
  display: flex;
  flex-wrap: wrap; // Allow components to wrap if needed
  width: 100%; // Use the full width of the container
  max-width: 1280px;
  margin: 8rem auto 0 auto;
  justify-content: space-between; // Distribute space between elements
  overflow: auto;

  @media (min-width: 768px) {
    justify-content: space-around;
  }

  @media (max-width: 767px) {
    flex-direction: column; // Stack elements vertically on smaller screens
    margin-top: 50px;
  }

  // Make each component fill more space
  app-profile-summary {
    flex: 1;
    min-width: 250px; // Prevent components from shrinking too much
    margin: 0 1rem 0 1rem;
  }

  app-start-post {
    flex: 1;
    margin: 0 2rem 0 2rem;
  }

  .post-divider {
    margin: 2rem 2rem 2rem 2rem;
  }

  div {
    display: flex;
    flex-direction: column;
    flex: 3; // Make this container expand more
  }
  app-tabs {
    margin-top: auto;
  }
}
