<ion-toolbar>
  <ion-tabs>
    <ion-tab-bar>
      <ion-tab-button>
        <ion-icon name="home"></ion-icon>
      </ion-tab-button>
      <ion-tab-button>
        <ion-icon name="people"></ion-icon>
      </ion-tab-button>
      <!-- Centered Post Button -->
      <ion-tab-button class="tab-button-center" (click)="presentModal()">
        <ion-icon class="tab-icon" name="add-circle"></ion-icon>
      </ion-tab-button>
      <ion-tab-button>
        <ion-icon name="notifications"></ion-icon>
        <ion-badge color="danger" class="badge-danger">
          <ion-text>2</ion-text>
        </ion-badge>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-toolbar>
