:root {
  --ion-color-primary: #8d6e63;
  --ion-color-primary-rgb: 141, 110, 99;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #7a5e54;
  --ion-color-primary-tint: #9e7d70;

  --ion-color-secondary: #bcaaa4;
  --ion-color-secondary-rgb: 188, 170, 164;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0, 0, 0;
  --ion-color-secondary-shade: #a7958f;
  --ion-color-secondary-tint: #ccb5ae;

  --ion-color-tertiary: #f3e5f5;
  --ion-color-tertiary-rgb: 243, 229, 245;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0, 0, 0;
  --ion-color-tertiary-shade: #d8c3d9;
  --ion-color-tertiary-tint: #ffffff;

  --ion-color-success: #81c784;
  --ion-color-success-rgb: 129, 199, 132;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #6fb773;
  --ion-color-success-tint: #93d094;

  --ion-color-warning: #ffb300;
  --ion-color-warning-rgb: 255, 179, 0;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e6a000;
  --ion-color-warning-tint: #ffbf33;

  --ion-color-danger: #d84315;
  --ion-color-danger-rgb: 216, 67, 21;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #bb3b12;
  --ion-color-danger-tint: #e05932;

  --ion-color-dark: #3e2723;
  --ion-color-dark-rgb: 62, 39, 35;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #35221f;
  --ion-color-dark-tint: #4f3a38;

  --ion-color-medium: #a1887f;
  --ion-color-medium-rgb: 161, 136, 127;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0, 0, 0;
  --ion-color-medium-shade: #8c786f;
  --ion-color-medium-tint: #b2968f;

  --ion-color-light: #e0e0e0;
  --ion-color-light-rgb: 224, 224, 224;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #c2c2c2;
  --ion-color-light-tint: #ffffff;

  font-size: 1rem;
  --ion-default-font: 1rem;
  --ion-toolbar-background: #e0e0e0;
}
