ion-card {
  width: 50rem;
  box-shadow: none;
  border: 1px solid #e1e1e1;

  @media (max-width: 576px) {
    width: 90%;
    margin: auto;
  }

  @media (max-width: 440px) {
    width: 95%;
  }
}

ion-card-header {
  display: flex;
  align-items: center; // Proper alignment of avatar and button
  padding: 16px;

  ion-avatar {
    width: 48px;
    height: 48px;
  }

  ion-button {
    --border-width: 1px;
    height: 48px;
    margin-left: 16px;
    flex-grow: 1; // Ensure the button takes up remaining space
  }
}

ion-card-content {
  display: flex;
  justify-content: space-around; // Space buttons evenly
  padding: 16px;

  ion-button {
    flex-direction: column; // Align icon and text vertically for better mobile presentation
    align-items: center;
    --padding-start: 0;
    --padding-end: 0;
  }

  ion-icon {
    font-size: 24px;
    margin-bottom: 4px; // Add some spacing between icon and text
  }

  ion-text {
    font-size: 1.2rem; // Adjust font size for better readability
  }
}
