<ion-card>
  <ion-card-header>
    <ion-button
      (click)="presentModal()"
      shape="round"
      fill="outline"
      color="medium"
    >
      <span class="ion-text-left">Start a post</span>
    </ion-button>
  </ion-card-header>

  <ion-card-content class="ion-hide-sm-down">
    <ion-button color="medium" fill="clear">
      <ion-icon color="danger" name="image-outline"></ion-icon>
      <ion-text>Photo</ion-text>
    </ion-button>
    <ion-button color="medium" fill="clear">
      <ion-icon color="success" name="document-text-outline"></ion-icon>
      <ion-text>Blog</ion-text>
    </ion-button>
    <ion-button color="medium" fill="clear">
      <ion-icon color="warning" name="calendar-outline"></ion-icon>
      <ion-text>Event</ion-text>
    </ion-button>
  </ion-card-content>
</ion-card>
