.all-posts-container {
  display: flex;
  flex-direction: column;
  margin: 0 2rem 0 2rem;
  flex-grow: 1;
  height: 100vh; // Ensures it takes the full viewport height

  ion-content {
    flex-grow: 1; // Make it take the remaining space
    overflow: auto; // Enable scrolling for the content
    display: flex;
    flex-direction: column;

    ion-list {
      flex-grow: 1; // Allow the list to grow
      overflow: auto; // Enable scrolling inside the list
      padding: 0;

      ion-card {
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        border: 1px solid #e1e1e1;
        padding: 0 2rem 0 2rem;
        width: 100%;
        margin: 0 auto 1rem auto;

        .post-body {
          margin: 0;
          padding: 0;
        }

        ion-grid {
          width: 100%; // Prevent the grid from causing overflow

          ion-row {
            width: 100%; // Ensure rows don't exceed container width
          }
        }
      }

      ion-avatar {
        width: 3rem;
        height: 3rem;
        overflow: hidden;
      }

      .hide-scroll {
        height: calc(100vh - 320px);
        border-right: 16px solid #f3f2ef;
      }
    }
  }
}
