@if (allLoadedPosts.length > 0) {
  <div class="all-posts-container">
    <ion-content>
      <ion-list>
        @for (post of allLoadedPosts; track post.id) {
          <ion-card>
            <ion-grid>
              <!-- Post Header -->
              <ion-row>
                <ion-col size="auto" class="">
                  <ion-avatar
                    style="cursor: pointer"
                    [routerLink]="['/', 'home', post.author.id]"
                  >
                    <ion-img [src]="post.author.icon?.url || 'assets/resources/icon.png'"></ion-img>
                  </ion-avatar>
                </ion-col>
                <ion-col>
                  <div
                    style="cursor: pointer"
                    [routerLink]="['/', 'home', post.author.id]"
                    class="full-name"
                  >
                    {{ post.author.firstName }} {{ post.author.lastName }}
                  </div>
                  <div class="meta-data">
                    {{ post.createdAt | date: 'short' }}
                    <ion-icon name="ellipse"></ion-icon>
                    <ion-icon color="dark" name="globe-outline"></ion-icon>
                  </div>
                </ion-col>
                <ion-col
                  *ngIf="(userId$ | async) === post.author.id"
                  style="margin-top: -32px"
                  class="ion-text-right"
                >
                  <ion-icon
                    (click)="presentUpdateModal(post.id)"
                    style="font-size: 18px; cursor: pointer"
                    color="dark"
                    name="create-outline"
                  ></ion-icon>
                  <ion-icon
                    (click)="deletePost(post.id)"
                    style="font-size: 18px; cursor: pointer"
                    color="danger"
                    name="trash-outline"
                  ></ion-icon>
                </ion-col>
              </ion-row>

              <!-- Post Body -->
              <p class="post-body">
                {{ post.object?.content || post.body }}
              </p>

              <!-- Post Attachments -->
              <!--@if (post.object && post.object.attachment?.length > 0){
                <ion-row>
                  <ion-col *ngFor="let attachment of post.object.attachment">
                    <ion-img [src]="attachment.url" [alt]="attachment.name || 'Attachment'"></ion-img>
                  </ion-col>
                </ion-row>
              }-->
              <!-- Post Actions -->
              <ion-row>
                <ion-button color="medium" fill="clear">
                  <ion-icon name="thumbs-up-outline"></ion-icon>
                  <ion-text>Like</ion-text>
                </ion-button>
                <ion-button color="medium" fill="clear">
                  <ion-icon name="chatbox-ellipses-outline"></ion-icon>
                  <ion-text>Comment</ion-text>
                </ion-button>
                <ion-button color="medium" fill="clear">
                  <ion-icon name="arrow-redo-outline"></ion-icon>
                  <ion-text>Share</ion-text>
                </ion-button>
                <ion-button color="medium" fill="clear">
                  <ion-icon name="paper-plane-outline"></ion-icon>
                  <ion-text>Send</ion-text>
                </ion-button>
              </ion-row>
            </ion-grid>
          </ion-card>
        }
      </ion-list>

      <!-- Infinite Scroll -->
      <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content
          loadingSpinner="bubbles"
          loadingText="Loading more data..."
        >
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ion-content>
    <div class="hide-scroll"></div>
  </div>
} @else {
  <div class="no-posts-container">
    <ion-icon name="chatbubble-ellipses-outline" size="large"></ion-icon>
    <p>No Posts Yet. Start Connecting and Sharing!</p>
  </div>
}
